
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
}

.filters {
    position: relative;
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.filters button {
    position: absolute;
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    line-height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-top: 11px;
    right: 30px;
}

.filters button:hover {
    opacity: 0.9;
}

.locations, .amenities {
    position: relative;
    width: 25%;
    height: 100%;
    float: left;
}

.locations h3, .amenities h3 {
    font-weight: 600;
    margin: 5px 8px; 
}

.locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 5px 8px; 
}

.locations {
    border-right: 1px solid #DDDDDD;
}

.popover{
    position: absolute;
    top: 54px;
	display: none;
	background-color: #FAFAFA;
    width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.popover h2{
	font-size: 16px;
}

.locations ul, .amenities ul{
	list-style: none;
}

.amenities:hover ul, .locations:hover ul {
	display: block;
}
